	
	<%- include('partials/headerHome')%>
	
	<div class="container">
		<form action="/users/logout">
			<li><a href="/">Voltar</a></li>
			<li><a href="/users/logout">Sair</a></li>
		</form>
		<h1> Perfil </h1>
		<p>Olá <%= user.nome %> </p>
			<img class="avatar" src="/img/logoUser.png" alt="Avatar">	
		
		<div class="about"> 
			<h1>Favoritos</h1>
			<p>Florianópolis</p>
		</div>
		
		<div>
			<h2>Detalhes</h2>
			
			<span class="negrito">Nome:</span> <p><%= user.nome%> <%= user.sobrenome%> </p></p>
			<span class="negrito">E-mail:</span> <p><%= user.email %> </p></p>
			
			
			
			
		</div>
		<%- include('partials/footer') %> 