<% passagens.map(passagens => { %>
    <div><%= passagens.origem %></div>
  <% }) %> 
  <% passagens.map(passagens => { %>
    <div><%= passagens.destino %></div>
  <% }) %> 
  <% passagens.map(passagens => { %>
    <div><%= passagens.tarifa %></div>
  <% }) %> 
  <% passagens.map(passagens => { %>
    <div><%= passagens.horarioSaida %></div>
  <% }) %>
  <% passagens.map(passagens => { %>
    <div><%= passagens.duracao %></div>
  <% }) %> 
