    <%- include('partials/headerHome') %> 

<link rel="stylesheet" type="public/css" href="../../public/css/stylesheet.css" media="screen" /> 

</body>
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Transporte')" id="defaultOpen">Passagens</button>
</div>

<!-- Tab 1 content -->
<div id="Transporte" class="tabcontent">

  <div class="FiltrosBusca">
    <div class="item">
      <% if(passagensPorCidade.length == 0)%>
      <div>
        <h2>Nenhuma passagem encontrada</h2>
      </div> 
      <% passagensPorCidade.map(passagem => { %>
        <% if(passagem.passagem.length > 0){ %>
            <% passagem.passagem.forEach(psg => {%>
               <div>
                <table>
                  <tr>
                    <td>Origem</td>
                    <td>Destino</td>
                    <td>Preço </td>
                    <td>Horario da saída </td>
                    <td>Horario previsto da chegada</td>
                  </tr>
                  <tr>
                    <td><%= passagem.origem%></td>
                    <td><%= psg.destino%></td>
                    <td><%= psg.tarifa%></td>
                    <td><%= psg.horarioSaida%></td>
                    <td><%= psg.horarioChegada%></td>
                  </tr>
                </table>
               </div>
            <% }) %>	
         <% } else {%>
               <h3>Não foi encontrado passagens para esse destino</h3>
         <% }%>
      <% }) %>

<script type="text/javascript" src="resultados.js"></script>
<script>
  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
  </script>
</body>

<!--Footer-->
<%- include('partials/footer') %> 
